*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans", "yuan";
  }
  
  @font-face{
    font-family: yuan;
    src: url(../fonts/yuan.ttc);
  }
  h1{
    color: #797979;
    text-align: center;
    font-family: "Roboto";
    padding: 0px;
  }
  h2{
      color: #848484;
      font-size: 18px;
  }
  div.banner1{
    margin: 0 auto;
    width: 100%;
    min-width: 100%;
    height: 60px;
    background-color: #eda5a5;
  }
  
  
  /*=====================================*/
  /* nav bar Start*/
  .nav{
    width: 100%;
    /* border: 1px solid black; */
    background-color: #ffffff;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 1px 1px 0.5px lightgray;
    position: sticky;
    top: 0;
    padding: 15px 0;
    z-index: 10;
  }
  /* 左邊的區塊 */
  .nav_left{
    /* width: 800px; */
    display: flex;
    /* justify-content: center; */
    align-items: center;
    font-size: 14px;
    /* padding: 0 1rem; */
  }
  .search{
    display: flex;
    align-items: center;
  }
  .search_w{
    padding: 0 10px 0 3px;
  }
  .search_img{
    width:18px;
    height: 18px;
  }
  input.search_bar:focus{
    border:1px solid #797979;
    background-color: #ffdcdc;
    outline: none;
    color: #797979;
  }
  .shop_text{
    margin: 0 10px;
  }
  /* 右邊的區塊 */
  .nav_right{
    display: flex;
    font-size: 14px;
  }
  .member{
    display: flex;
    align-items: center;
    margin: 0 10px;
  }
  .member > p >a{
    text-decoration: none;
    color: #797979;
  }
   .member > p >a:hover{
    color: #eda5a5;
  }
  .member >img{
    width: 19px;
    height: 21px;
  }
  .top_r_w{
  margin: 0 5px;
  }
  .items_list{
    /* border: 1px solid red; */
    display: block;
  }
  .nav_all{
    /* border: 1px solid red; */
  
    color: #797979;
    text-decoration: none;
    margin-right: 10px;
    height:100%;
    display: flex;
    align-items: center;
  }
  .shop_list{
    /* border: 1px solid orange; */
    position: relative;
  }
  .shop_list:hover .items_list{
    display: block;
  }
  .items_list{
    position: absolute;
    display: none;
    top: 100%;
    left: -82%;
  }
  .shop_text:hover{
   color: #eda5a5;
  }
  .items_list >li{
    list-style: none;
    background-color: #ffdcdc;
    vertical-align: top;
    text-align: center;
  }
  .items_list >li:hover{
    background-color: #eda5a5;
  }
  .items_list > li > a{
    text-decoration: none;
    display: inline-block;
    color: #626262;
    padding: 15px 0;
    width: 150px;
  }
  /* nav bar End */
  
    /* ===============  header ==============  */
   
  
  /*=======================*/



  .color_banner{
    margin: 0 auto;
    width: 100%;
    min-width: 100%;
    height: 60px;
    background-color: #ffdcdc;
  }
  .banner_img{
    position: relative;
    margin-bottom: 150px;
  }

  .banner_img > img {
    width: 100%;
}

.banner_wd{
  font-size: 36px;
  color: #ffffff;
  text-shadow: 0rem 0.2rem 0.4rem #eda5a5;
  text-align: center;
  letter-spacing: 5px;
  position: absolute;
  top: 423px;
  left: 25px;
  /* border: 1px solid red; */
}

.p_bg{
  width: 400px;
  height: 150px;
  position: absolute;
  top: 210px;
  left: 0px;
  opacity: 0.3;
  background-color: #eda5a5;
}

.clothes{
  margin: 150px auto;
  font-size: 14px;
  color: #797979;
  text-align: center;

}
.pink_bar{
  margin: 100px auto;
  width: 100%;
  height: 23px;
  background-color: #ffdcdc;
  position: relative;
}
.pink_bar2{
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  position: relative;
}
.bar_wd{
  font-size: 14px;
  letter-spacing: 10px;
  color: #797979;
  position: absolute;
  top: -10px;
  left: 340px;
}

/* 如何申請 */
.how_title{
  font-size: 36px;
  color: #797979;
  text-align: center;
  margin-bottom: 50px;
}

.middle_use{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

}
.relative{
  position: relative;
  margin-bottom: 100px;
}
.grid-container {
  display: grid;
  grid-template-columns: 150px 150px 150px 150px;
  /* border: 1px solid black; */
  /* padding: 25px; */
  gap: 10px;
}
.grid-item {
  /* border: 1px solid red; */
  color: #797979;
  padding: 25px;
  font-size: 24px;
  text-align: center;
}

.apply{
  color: #ffffff;
  font-size: 24px;
  position: absolute;
  top: 51px;
  left: 311px;
}
.check{
  color: #ffffff;
  font-size: 24px;
  position: absolute;
  top: 51px;
  left: 495px;
}
.pass{
  color: #ffffff;
  font-size: 24px;
  position: absolute;
  top: 51px;
  left: 656px;
}
.share{
  color: #ffffff;
  font-size: 24px;
  position: absolute;
  top: 51px;
  left: 817px;
}


.stpes{
  /* border: 1px solid red; */
  color: #eda5a5;
  padding: 0px;
  font-size: 24px;
  text-align: center;
}

.draws{
  /* border: 1px solid red; */
  color: #eda5a5;
  padding: 0px;
  font-size: 24px;
  text-align: left;
}


















  /* 頁尾 */
.footer{
    position: relative;
    padding: 25px 0;
    background-color: #eda5a5;
    color: #848484;
    text-align: center;
    /* min-width: 768px; */
    min-width: 100%;
    box-sizing: border-box;
  }
  .logos{
    margin: 0 10px;
  }
  .left_1{
    width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  
  
  }
  
  /* 頁尾左側 */
  .about_us_main{
    position: relative;
    padding-top: 50px;
  }
  .about_us .contact_us{
    display: inline-block;
  }
  .about_us_w{
    margin-top: -70px;
    color: #797979;
  }
  .about_us >a{
    text-decoration: none;
    color: #848484;
  }
  .about_h2{
    color: #626262;
    font-size: 18px;
    /* border: 1px solid black; */
    padding-bottom: 1rem;
  }
  .story{
    padding-bottom: 1rem;
  }
  .story > a{
    text-decoration: none;
    color: #848484;
  }
  .story > a:hover{
    color: #ffdcdc;
  }
  .process{
    color: #797979;
    padding-bottom: 2rem;
  }
  .process > a{
    text-decoration: none;
    color: #848484;
  }
  .process > a:hover{
    color: #ffdcdc;
  }
  
  
  /* 頁尾右側 */
  .contact_us{
  }
  .contact_us_w{
    font-size: 18px;
    color: #626262;
    padding-bottom: 1rem;
  }
  .phone{
    padding-bottom: 1rem;
  }
  .time{
    padding-bottom: 2rem;
  }
  
  /* 頁尾下側 */
  .declaration{
    font-size: 14px;
  }
  .declaration >a{
    text-decoration: none;
    color: #797979;
  }
  .declaration >a:hover{
    color: #ffdcdc;
  }