*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", "yuan";
}

body{
  /* aos rwd 旁邊有白邊 */
  /* overflow: hidden; */
  
}

@font-face{
  font-family: yuan;
  src: url(../fonts/yuan.ttc);
  
}
h1{
  color: #797979;
  text-align: center;
  font-family: "Roboto";
  padding: 0px;
}
@media(max-width:767px){
h1{
  font-size: 24px;
}
}
h2{
    color: #848484;
    font-size: 18px;
}
h3{
  color: #eda5a5;
}
div.banner1{
  /* margin: 0 auto; */
  width: 100% !important;
  height: 30px;
  background-color: #eda5a5;
}


/*=====================================*/
/* nav bar Start*/



/* 漢堡區塊開始 */


header {
  position: relative;
}
.hamburger {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 7px;
  right: 12px;
  display: block;
  z-index: 100;
  cursor: pointer;


  /* background-color: #eda5a5; */
}
.hamburger2 {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 15px;
  right: -6px;
  display: block;
  z-index: 100;
  /* background-color: #eda5a5; */
}
.exit_img{
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.hamburger-line {
  width: 30px;
  height: 5px;
  border-radius: 5px;
  background-color: #eda5a5;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: 0px 10px 0px #eda5a5;
}
.hamburger img{
  width: 20px;
  height: 20px;
  margin-top: 15px;
}


.hamburger-line2 {
  width: 30px;
  height: 5px;
  border-radius: 5px;
  background-color: #ffffff;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: 0px 10px 0px #ffffff;
}

.menu {
  background-color: #eda5a5;
  min-height: 100vh;
  width: 50%;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  transition: 0.5s;
  z-index: 100;
}
.menu li a {
  width: 100%;
  display: block;
  padding: 15px 0;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  text-align: center;
  /* border-bottom: 3px solid #ffffff; */
}

a.all_p{
padding: 10px 0px 12px 35px;
}

a.all_p:hover{
  background-color: #ffffff;
  color: #eda5a5;
  transition: background-color 0.2s linear;
}

li > accordion{
  width: 100%;
    background-color: #eda5a5;
    border: none;
    outline: none;
    text-align: center;
    padding: 10px 0px;
    font-size: 14px;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.2s linear;
}

.prod{
  display: block;
  padding: 5px;
  margin: 0px 20px 10px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  text-align: center;
}


ul > a{
 width: 30px;
 height: 30px;
}

#menu-switcher {
  display: none;
}
#menu-switcher:checked ~ .menu {
  transform: translateX(0%);
}




.ffmember{
  width: 20px;
  height: 20px;
  /* position: absolute;
  top: 26px;
  left: 55px; */
  /* border: 1px solid black; */
}

.ffcart{
  width: 30px;
  height: 30px;
  margin-left: 10px;
  /* position: absolute;
  top: 22px;
  left: 98px; */
  /* border: 1px solid black; */
}
.abc{
    width: 30px;
    height: 30px;
    padding: 0 20px;    
    margin-left: -10px;
    display: inline-block;
  }
.abcd{
    display: flex;
    justify-content: center;
    margin-top: 18px;
    margin-bottom: 40px;
  }
ul.li > li_cc{
  display: flex;
}


@media screen and (min-width: 768px) {
  .hamburger {
    display: none;
  }

  header {
    /* display: flex; */
    justify-content: space-between;
  }
  .menu {
    transform: translateX(0%);
    height: auto;
    width: auto;
    display: none;
    position: relative;
    background-color: transparent;
  }
}


@media(max-width:767px){

  input.search_bar{
    display: none;
  }
  div.nav_left{
    display: none;
  }
  div.nav_right{
    display: none;
  }
}











/* body {
	background-color: #6DC4F4;
}h1 { 
     color:white;
 
} */

.container {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
}

button.accordion {
  width: 100%;
  background-color: #eda5a5;
  border: none;
  outline: none;
  text-align: center;
  padding: 10px 0px 12px 35px;
  font-size: 14px;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.2s linear;
}

button.accordion:after {
  font-family: FontAwesome;
  content: "\f150";
  font-family: "fontawesome";
  font-size: 18px;
  float: right;
  margin-right: 20px;
}

button.accordion.is-open:after {
  content: "\f151";
}

button.accordion:hover,
button.accordion.is-open {
  background-color: #ffffff;
  color: #eda5a5;
}

.accordion-content {
  background-color: #eda5a5;
  max-height: 0;
  overflow: hidden;
  list-style: none;;
  transition: max-height 0.2s ease-in-out;
}
.accordion-content > li {
  list-style: none;;
}

.accordion-content > li:hover {
    background-color: #ffffff;
    color: #eda5a5;
    transition: max-height 0.2s ease-in-out;
}


.accordion-content > a {
  font-size: 14px;
  background-color: #eda5a5;
  padding: 5px 20px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-in-out;
}







/* 漢堡區塊結束 */



.nav{
  width: 100%;
  /* border: 1px solid black; */
  background-color: #ffffff;
  margin: 0px auto;
  display: flex;
  /* justify-content: space-between; */
  box-shadow: 0px 1px 1px 0.5px lightgray;
  position: sticky;
  top: 0;
  padding: 15px 0;
  z-index: 10;
}
/* 左邊的區塊 */
.nav_left{
  /* width: 800px; */
  display: flex;
  /* justify-content: center; */
  align-items: center;
  font-size: 14px;
  /* padding: 0 1rem; */
}
.search{
  display: flex;
  align-items: center;
}
.search_w{
  padding: 0 10px 0 3px;
}
.search_img{
  width:18px;
  height: 18px;
}
input.search_bar{
  width: 100px;
  margin-left: 5px;
}
input.search_bar:focus{
  border:1px solid #797979;
  background-color: #ffdcdc;
  outline: none;
  color: #797979;
}
.shop_text{
  margin: 0 10px;
  width: 60px;
}
/* 右邊的區塊 */
.nav_right{
  display: flex;
  float: right;
  margin: 0 10px 0 auto;
  font-size: 14px;
}
.member{
  display: flex;
  align-items: center;
  margin: 0 10px;
}
.member > p >a{
  text-decoration: none;
  color: #797979;
}
.member > p >a:hover{
  color: #eda5a5;
}
.member >img{
  width: 19px;
  height: 21px;
}
.top_r_w{
margin: 0 5px;
width: 56px;
}
.items_list{
  /* border: 1px solid red; */
  display: block;
}
.nav_all{
  /* border: 1px solid red; */

  color: #797979;
  text-decoration: none;
  margin-right: 10px;
  display: flex;
  align-items: center;
}
.shop_list{
  /* border: 1px solid orange; */
  position: relative;
}
.shop_list:hover .items_list{
  display: block;
}
.items_list{
  position: absolute;
  display: none;
  top: 100%;
  left: -82%;
}
.shop_text:hover{
 color: #eda5a5;
 cursor: pointer;
}
.items_list >li{
  list-style: none;
  background-color: #ffdcdc;
  vertical-align: top;
  text-align: center;
}
.items_list >li:hover{
  background-color: #eda5a5;
  cursor: pointer;
}
.items_list > li > a{
  text-decoration: none;
  display: inline-block;
  color: #626262;
  padding: 15px 0;
  width: 150px;
}
/* nav bar End */
  
    /* ===============  header ==============  */
   
  
  /*=======================*/


  /* 上區會員專屬 */
  .s-square{
    margin: 50px auto;
    font-size: 14px;
    color:#797979;
    width: 130px;
    height: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #797979;
  }
  .top{
    margin: 0 auto;
    min-width: 100%;
    height: 200px;
    /* border: 1px solid green; */
    text-align: center;
    display: block;
    justify-content: center;
    align-items: top;

  }
  .member_icon{
    margin: 0 auto;
    /* border: 1px solid #000000; */
  }
  .icon_w{
    margin: 0 auto;
    height: 30px;
    width: 100%;
    font-size: 14px;
    color:#797979;
    /* border: 1px solid #000000; */

  }
  .p-small{
    margin: 30px auto;
    font-size: 12px;
    text-decoration: underline;
    color: #eda5a5
  }
  .p-small >a{
    color: #eda5a5;
  }
  .p-small >a:hover{
    color: #ffdcdc;
  }





/* ------會員登入 + 立即註冊------ */

#container1, #container2 {

  /* border: 2px solid blue; */
    padding: 10px;
    width: 400px;
    height: 100%;
    background-color: #ffdcdc;
    border-radius: 5px;
    border-top: 10px solid #eda5a5;
    box-shadow: 0 0px 70px rgb(0 0 0 / 10%);
    position: relative;
    margin: 0 auto;
    top: 0rem;
    text-align: center;
}


#container2 {
  /* visibility: hidden; */
  height: 100%;
}

#username, #password, h3, #date, #birthday, #email, #comfirm_password, #username2, #password2 {
  width: 100%;
  height: 20px;
  margin: 1rem auto;
  color: #797979;
  padding: 1.5rem;
}
.submit {
  color: #ffffff;
  background: #eda5a5;
  cursor: pointer;
  width: 100%;
  height: 20%;
  margin: 0.5rem auto;
  padding: 15px 0;
  border-radius: 5px;
  border: 0px;
}
form a {
  text-decoration: none;
  float: right;
  padding: 1rem;
  color: #797979;
}
form a:hover {
  color: #ffffff;
}
button.singup {
  margin: 20px auto;
  color: #a3a2a3;
  border: none;
  width: 100%;
  border-radius: 5px;
  padding: 15px 0;
  cursor: pointer;
}
button.login {
  margin: 20px auto;
  color: #a3a2a3;
  border: none;
  width: 100%;
  border-radius: 5px;
  padding: 15px;
  cursor: pointer;
}
.birthday{
  color: #797979;
}





/* -------會員專屬權益------- */
.main{
  margin: 100px auto;
  min-width: 100%;
  width: 100%;
  height: 800px;
  /* border:1px solid green; */
  text-align: center;
}
.pink_c{
  margin: 0 auto;
  min-width: 100%;
  font-size: 24px;
  color: #eda5a5;
  text-align: center;
  text-shadow: 0em 0.1em 0.1em #797979;
}
.special{
  position: relative;
  min-width: 100%;
  height: 800px;
  text-align: center;
  justify-content: center;
  align-items: center;

  /* border:1px solid orange; */
}
.icon_cc{
  width: 80px;
  height: 100px;
  margin-top: 20px;
  /* border:1px solid orange; */
}
.icon_abcd{
  margin: 40px auto 20px auto;
}

.icon_abc{
  margin: 20px auto;
}


.special_w{
  position: absolute;
  height: 800px;
  left: 98px;
  top: 45px;
  margin-top: 0px;
  /* border:1px solid gray; */
  text-align: left;
}
.text_m1{
  font-size: 14px;
  color: #797979;
  margin-bottom: 60px;
}
.text_m2{
  font-size: 14px;
  color: #797979;
  margin-bottom: 90px;
}
.text_m3{
  font-size: 14px;
  color: #797979;
  margin-bottom: 90px;
}
















  /* 頁尾 */
.footer{
  position: relative;
  padding: 25px 0;
  background-color: #eda5a5;
  color: #848484;
  text-align: center;
  /* min-width: 768px; */
  min-width: 100%;
  box-sizing: border-box;
}
.logos{
  margin: 0 10px;
}
.left_1{
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;


}

/* 頁尾左側 */
.about_us_main{
  position: relative;
  padding-top: 50px;
}
.about_us .contact_us{
  display: inline-block;
}
.about_us_w{
  margin-top: -70px;
  color: #797979;
}
.about_us >a{
  text-decoration: none;
  color: #848484;
}
.about_h2{
  color: #626262;
  font-size: 18px;
  /* border: 1px solid black; */
  padding-bottom: 1rem;
}
.story{
  padding-bottom: 1rem;
}
.story > a{
  text-decoration: none;
  color: #848484;
}
.story > a:hover{
  color: #ffdcdc;
}
.process{
  color: #797979;
  padding-bottom: 2rem;
}
.process > a{
  text-decoration: none;
  color: #848484;
}
.process > a:hover{
  color: #ffdcdc;
}


/* 頁尾右側 */
.contact_us_w{
  font-size: 18px;
  color: #626262;
  padding-bottom: 1rem;
}
.phone{
  padding-bottom: 1rem;
}
.time{
  padding-bottom: 2rem;
}

/* 頁尾下側 */
.declaration{
  font-size: 14px;
}
.declaration >a{
  text-decoration: none;
  color: #797979;
}
.declaration >a:hover{
  color: #ffdcdc;
}