*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans", "yuan";
  }
  
  @font-face{
    font-family: yuan;
    src: url(../fonts/yuan.ttc);
  }
  h1{
    color: #797979;
    text-align: center;
    font-family: "Roboto";
    padding: 0px;
  }
  h2{
      color: #848484;
      font-size: 18px;
  }
  div.banner1{
    margin: 0 auto;
    width: 100%;
    min-width: 100%;
    height: 30px;
    background-color: #eda5a5;
  }
  
  
  /*=====================================*/
  /* nav bar Start*/
  .nav{
    width: 100%;
    /* border: 1px solid black; */
    background-color: #ffffff;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 1px 1px 0.5px lightgray;
    position: sticky;
    top: 0;
    padding: 15px 0;
    z-index: 10;
  }
  /* 左邊的區塊 */
  .nav_left{
    /* width: 800px; */
    display: flex;
    /* justify-content: center; */
    align-items: center;
    font-size: 14px;
    /* padding: 0 1rem; */
  }
  .search{
    display: flex;
    align-items: center;
  }
  .search_w{
    padding: 0 10px 0 3px;
  }
  .search_img{
    width:18px;
    height: 18px;
  }
  input.search_bar:focus{
    border:1px solid #797979;
    background-color: #ffdcdc;
    outline: none;
    color: #797979;
  }
  .shop_text{
    margin: 0 10px;
  }
  /* 右邊的區塊 */
  .nav_right{
    display: flex;
    font-size: 14px;
  }
  .member{
    display: flex;
    align-items: center;
    margin: 0 10px;
  }
  .member > p >a{
    text-decoration: none;
    color: #797979;
  }
  .member > p >a:hover{
    color: #eda5a5;
  }
  .member >img{
    width: 19px;
    height: 21px;
  }
  .top_r_w{
  margin: 0 5px;
  }
  .items_list{
    /* border: 1px solid red; */
    display: block;
  }
  .nav_all{
    /* border: 1px solid red; */
  
    color: #797979;
    text-decoration: none;
    margin-right: 10px;
    height:100%;
    display: flex;
    align-items: center;
  }
  .shop_list{
    /* border: 1px solid orange; */
    position: relative;
  }
  .shop_list:hover .items_list{
    display: block;
  }
  .items_list{
    position: absolute;
    display: none;
    top: 100%;
    left: -82%;
  }
  .shop_text:hover{
   color: #eda5a5;
  }
  .items_list >li{
    list-style: none;
    background-color: #ffdcdc;
    vertical-align: top;
    text-align: center;
  }
  .items_list >li:hover{
    background-color: #eda5a5;
  }
  .items_list > li > a{
    text-decoration: none;
    display: inline-block;
    color: #626262;
    padding: 15px 0;
    width: 150px;
  }
  /* nav bar End */
  
    /* ===============  header ==============  */
   
  
  /*=======================*/
   
  




/* 側邊欄開始 */
.aside{
    /* border: 1px solid blue; */
    margin: 0 auto;
    display: block;
    position: sticky;
    top: 70px;
    display: inline-block;
    z-index: 1;

}
.nav_all2{
    width: 150px;
    height: 366px;
    text-align: center;
    vertical-align: middle
}
.items_list2 >li{
    font-size: 14px;
    background-color: #ffdcdc;
    list-style: none;
    vertical-align: top;
    text-align: center;
    padding: 10px 0px;
  }
.items_list2 >li > a{
    text-decoration: none;
    color: #797979;
    padding: 15px 0;
    width: 150px;
  }
  
.items_list2 >li:hover{
    background-color: #eda5a5;
  }
/* 側邊欄結束 */


.pink_bar{
    margin: 100px auto;
    width: 100%;
    height: 23px;
    background-color: #ffdcdc;
    position: relative;
  }
  .pink_bar2{
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    position: relative;
  }
  .bar_wd{
    color: #797979;
    position: absolute;
    top: -65%;
    left: 25%;
  }


/* 商品預覽、尺寸數量選擇 */
.big_pic_1{
    /* border: 1px solid red; */
    width: 387px;
    margin-left: 200px;
    margin-top: -325px;
    position: relative;
}
.logo_bar{
    /* border: 1px solid gray; */
}
.right_side{
    /* border: 1px solid orange; */
    width: 730px;
    height: 400px;
    position: absolute;
    top: 160px;
    left:595px;
}
.prod_nm{
    color: #797979;
    font-size: 16px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.price2{
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: #797979;
    font-size: 14px;
}
.prod_w{
    color: #797979;
    font-size: 14px;
    margin: 20px 1rem 2rem 0;
    display: flex;
    
}
/* 衣服顏色選擇 */
.color_sq1{
    /* border: 1px solid #797979; */
    background-color: #c099a2;
    width: 20px;
    height: 20px;
    margin-left: 1rem;
}
.color_sq1:hover{
    border: 1px solid #797979;
}
.color_sq2{
    /* border: 1px solid #797979; */
    background-color: #7a8ac5;
    width: 20px;
    height: 20px;
    margin-left: 10px;
}
.color_sq2:hover{
    border: 1px solid #797979;
}

/* 衣服尺寸選擇 */
.size_sq1{
    border: 1px solid #797979;
    width: 22px;
    height: 22px;
    margin-left: 1rem;
    text-align: center;
}
.size_sq1:hover{
    background-color: #ffdcdc;
}
.size_sq2{
    border: 1px solid #797979;
    width: 22px;
    height: 22px;
    margin-left: 1rem;
    text-align: center;
}
.size_sq2:hover{
    background-color: #ffdcdc;
}
.size_sq3{
    border: 1px solid #797979;
    width: 22px;
    height: 22px;
    margin-left: 1rem;
    text-align: center;
}
.size_sq3:hover{
    background-color: #ffdcdc;
}
.size_sq4{
    border: 1px solid #797979;
    width: 22px;
    height: 22px;
    margin-left: 1rem;
    text-align: center;
}
.size_sq4:hover{
    background-color: #ffdcdc;
}

/* 數量增減器 */

.num1{
    margin-top: -4px;
    margin-left: 1rem;
}

/* ----------------------------------- */

.btn1{
    font-size: 14px;
    background-color: #ffdcdc;
    color: #797979;
    border: 0;
    padding: 3px 25px 3px 25px;
    margin-right: 1rem;
    margin-top: 10px;
    text-align: center;
}
.btn1:hover{
    background-color: #eda5a5;
}
.btn2{
    font-size: 14px;
    background-color: #ffdcdc;
    color: #797979;
    border: 0;
    padding: 3px 25px;
    margin-right: 1rem;
    text-align: center;
}
.btn2:hover{
    background-color: #eda5a5;
}







/* 商品描述開始 */
.pink_bw{
    margin: 0 200px;
    min-width: 1200px;
    margin-bottom: 30px;
    font-size: 24;
    color: #eda5a5;
}
.des_all{
    margin: 0 200px;
    min-width: 1200px;
    margin-bottom: 30px;
    font-size: 14px;
    color: #797979;
}
.des1, .des2, .des3{
    margin-bottom: 2rem;
    width: 1200px;
}


/* 商品圖片開始 */
.all_pho{
    margin: 0 200px;
    min-width: 1200px;
    /* padding-bottom: 80px; */
}
/* .two-in-one{
    min-width: 387px;
    display: flex;
    justify-content: space-between;
} */




.pink_bar{
    margin: 100px auto;
    width: 100%;
    height: 23px;
    margin-bottom: 25px;
    background-color: #ffdcdc;
    position: relative;
  }
  .pink_bar2{
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    position: relative;
  }
  .bar_wd{
    font-size: 14px;
    color: #797979;
    position: absolute;
    top: -10px;
    left: 340px;
  }


  /* 您可能會喜歡 */
.like_bar_m{
    width: 100%;
    height: 200px;
    background-color: #ffdcdc;
    margin-bottom: 150px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}
.like_bar{
    width: 1200px;
    height: 100%;
    text-align: center;
    margin: 0 auto;
    /* border: 1px solid red; */
}
.arrow{
    text-align: center;
    margin: 0;
    width: 28px;
    height: 28px;
    margin-top: 90px;
}
.arrow_pho{
    display: flex;
}
.card{
    font-size: 14px;
    width: 12%;
    /* border: 1px solid black; */
    margin: 0 -7px;
    margin-bottom: 50px;
    margin-top: 34px;
  }
   
  .pic1{
    width: 75%;
    position: relative;
  }
  .pic_text{
    font-size: 14px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    color: #848484;
  
  }
  .price{
    font-size: 14px;
    color: #848484;
    text-align: center;
    margin-top: 0px;
  }
  .pic_text >img{
    /* width: 100%; */
    margin-right: 5px;
    width: 16px;
    height: 16px;
  }
  .empty{
    position: absolute;
    left: 24px;
    bottom: 111px;
  }
  .cl1-1{
    position: absolute;
    left: 86px;
    bottom: 28px;
  }
  .cl1-2{
    position: absolute;
    left: 105px;
    bottom: 28px;
  }
  







  /* 頁尾 */
.footer{
    position: relative;
    padding: 25px 0;
    background-color: #eda5a5;
    color: #848484;
    text-align: center;
    /* min-width: 768px; */
    min-width: 100%;
    box-sizing: border-box;
  }
  .logos{
    margin: 0 10px;
  }
  .left_1{
    width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  
  
  }
  
  /* 頁尾左側 */
  .about_us_main{
    position: relative;
    padding-top: 50px;
  }
  .about_us .contact_us{
    display: inline-block;
  }
  .about_us_w{
    margin-top: -70px;
    color: #797979;
  }
  .about_us >a{
    text-decoration: none;
    color: #848484;
  }
  .about_h2{
    color: #626262;
    font-size: 18px;
    /* border: 1px solid black; */
    padding-bottom: 1rem;
  }
  .story{
    padding-bottom: 1rem;
  }
  .story > a{
    text-decoration: none;
    color: #848484;
  }
  .story > a:hover{
    color: #ffdcdc;
  }
  .process{
    color: #797979;
    padding-bottom: 2rem;
  }
  .process > a{
    text-decoration: none;
    color: #848484;
  }
  .process > a:hover{
    color: #ffdcdc;
  }
  
  
  /* 頁尾右側 */
  .contact_us_w{
    font-size: 18px;
    color: #626262;
    padding-bottom: 1rem;
  }
  .phone{
    padding-bottom: 1rem;
  }
  .time{
    padding-bottom: 2rem;
  }
  
  /* 頁尾下側 */
  .declaration{
    font-size: 14px;
  }
  .declaration >a{
    text-decoration: none;
    color: #797979;
  }
  .declaration >a:hover{
    color: #ffdcdc;
  }